@model IEnumerable<OtoServis.Entities.Web.Slider>
@{
    ViewBag.Title = "Slider işlemleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("SliderKaydet", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-3">
            <input type="text" required name="Baslik" class="form-control" placeholder="Baslık" />
        </div>

        <div class="col-md-5">
            <input type="text" required name="Tanımlama" class="form-control" placeholder="Tanımlama" />
        </div>

        <div class="col-md-3">
            <input type="file" required name="Resim" class="form-control" />
        </div>

        <div class="col-md-1">
          
            <input type="submit" class="btn btn-primary" value="Kaydet" />
        </div>
    </div>
}
<hr />
<div class="row">
    <table class="table table-responsive">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Resim" width="200" />
                </td>
                <td>

                    @item.Baslik
                </td>
                <td>
                    @item.Tanımlama
                </td>
                <td>
                    <button type="button" onclick="silmodal(this)" class="btn btn-danger" data-bs-toggle="modal"data-id="@item.SliderId" data-bs-target="#SilModal">
                        Sil
                    </button>
                </td>
            </tr>
        }

    </table>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="SilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Slider Silme İşlemi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Silmek İstiyormusunuz
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("SliderSil", "Slider",FormMethod.Post))
                {
                    <input type="hidden" id="hiddenId" name="id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-danger">Sil</button>

                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    
    <script>
        function silmodal(btn) {
            var xid = $(btn).data('id');
            $('#hiddenId').val(xid);
        }
    </script>

    }
