
@{
    ViewBag.Title = "Slider işlemleri";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-3">
        Slider Başlık
        <input type="text" class="form-control" />
    </div>

    <div class="col-md-5">
        Slider Kısa Tanımlama
        <input type="text" class="form-control" />
    </div>

    <div class="col-md-3">
        Resim
        <input type="file" class="form-control" />
    </div>

    <div class="col-md-1">
        <br />
        <input type="" class="btn btn-primary" value="Kaydet"/>
    </div>
</div>
